@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.login {
  display: flex;
  justify-content: right;
  align-items: center;
}

.login img {
  width: 955px;
  height: 673px;

}

.container {
  padding-left: 120px;
}

.container img {
  width: 47px;
  height: 50px;
  top: 71px;
  left: 823px;
  padding: 4.95px, 7.23px, 5px, 6.3px;

}

h1 {
  width: 177px;
  height: 36px;
  top: 168px;
  left: 824px;
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.72px;
}
.error-msg{
  font-size: 12px;
  width: 100%;
  color: red;
}
form {
  width: 100%;
  border: 3px solid white;
}
.username{
  width: 71px;
height: 21px;
top: 252px;
left: 824px;


}
.password{
  width: 67px;
height: 21px;
top: 335px;
left: 823px;

}
label {
  color: #616161;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.42px;
  padding:1, 62px;

}

input {
  display: flex;
  width: 365px;
  padding: 12px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid #D2D2D2;
  background: #FFF;
}



button {
  display: flex;
  width: 392px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  margin: 52px 0;
  gap: 10px;
  border-radius: 4px;
  background: #0156FF;
  color: white;
  border: none;
}